#centercont{
	MARGIN: 8px auto;
    WIDTH: 1200px;
    clear: both;
    margin-top: 10px;
}
.cartnav {
    MARGIN: 8px 0px;
    HEIGHT: 32px;
}
.cartnav SPAN.nonce {
    BACKGROUND: url(../images/cart_06.png) no-repeat right 50%;
    COLOR: #fff;
    z-index: 3;
}
.cartnav SPAN.three {
    Z-INDEX: 2;
}
.cartnav SPAN.four {
    Z-INDEX: 1;
}
.cartnav SPAN {
    POSITION: relative;
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 32px;
    PADDING-LEFT: 30px;
    WIDTH: 190px;
    PADDING-RIGHT: 30px;
    DISPLAY: block;
    BACKGROUND: url(../images/cart_07.png) no-repeat right 50%;
    FLOAT: left;
    HEIGHT: 32px;
    COLOR: #707070;
    FONT-SIZE: 14px;
    margin-right: -20px;
    PADDING-TOP: 0px;
    z-index: 0;
    }
.no-goods{
	width: 100%;
	padding: 50px 0;
	background: #F1F1F1;
}
.no-goods span{
	margin-left:550px;
}
.no-goods img{
	margin-left:550px;
	margin-top: 5px;
}
.next span{
	float: right;
	line-height: 32px;
	COLOR: #333;
}
.next img{
	float: right;
}
.goods-list{
	width: 1200px;
	height: 125px;
	
}
.list-nav{
	height: 20px;
	border: 1px solid #E7E7E7;
	background: #F6F6F6;
}
.list-nav li{
	float: left;
	LINE-HEIGHT: 20px;
    BACKGROUND: #f6f6f6;
    HEIGHT: 20px;
    color: #666;
}
.list-middle{
	height: 67px;
}
.list-bottom{
	border: 1px solid #E7E7E7;
	background: #F6F6F6;
	height: 37px;
}
.goods-img{
	margin-top: 8px;
	margin-left: 50px;
	display: inline-block;
	float: left;
}
.list-middle span{
	display: inline-block;
	line-height: 67px;
	float: left;
	text-align: center;
}
.list-bottom span{
	display: inline-block;
	line-height: 28px;
	PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-SIZE: 14px;
    
}
